/*
Color scheme:
pink: #F38BA0
light pink: #FFBCBC
light blue: #EDF6E5
blue: #B5EAEA
*/
body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #f38ba0;
  color: white;
}

.container-fluid {
  padding: 5% 15% 7%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  background-color: #f38ba0;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Title Section */

.title-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image-div {
  text-align: center;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 0;
}

/* Feature */

#features {
  padding: 7% 15%;
  position: relative;
  background-color: #fff;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-icon {
  color: #ffbcbc;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #f38ba0;
  font-size: 4.5rem;
  transition: 0.2s ease-out;
}

.feature-title {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 1.5rem;
}

.feature-description {
  color: #8f8f8f;
}

/* Testimonials */

#testimonials {
  text-align: center;
  background-color: #ffbcbc;
  color: white;
}

/* This is important! Need to identify relevant boxes*/
.carousel-item {
  padding: 7% 15%;
}

.testimonial-text {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 3rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 10%;
  margin: 20px;
}

/* Press */

#press {
  text-align: center;
  padding-bottom: 3%;
  background-color: #ffbcbc;
}

.press-logo {
  width: 15%;
  margin: 20px 20px;
}

/* Pricing */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-title {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 3rem;
}

.pricing-col {
  padding: 3% 2%;
}

.card {
  font-family: "Montserrat-Bold", sans-serif;
}

.card-header {
  font-size: 2rem;
}

.card-body {
  font-size: 1rem;
  font-weight: lighter;
}

.price {
  font-weight: bold;
}

.button-pricing {
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* Call to Action */
#cta {
  background-color: #f38ba0;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Footer */
#footer {
  padding: 7% 15%;
  text-align: center;
  font-size: 1.5rem;
}

.copyright {
  font-size: 1rem;
}

.contact-icon {
  margin: 10px 10px;
}

.contact-icon:hover {
  color: #f38ba0;
  font-size: 2rem;
  transition: 0.2s ease-out;
}

/* Mobile Compatible */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
