body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold", sans-serif;
  line-height: 1.5;
}

.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ffbcbc;
  color: white;
}

/* Title */

#title.colored-section {
  background-color: #f38ba0;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  background-color: #f38ba0;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Title Section */

#title {
  text-align: left;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  text-align: center;
}

/* Feature */

#features {
  position: relative;
  background-color: #fff;
}

.feature-box {
  padding: 5%;
}

.feature-icon {
  color: #ffbcbc;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #f38ba0;
  font-size: 4.5rem;
  transition: 0.2s ease-out;
}

.feature-title {
  font-size: 1.5rem;
}

/* Testimonials */

.testimonial-text {
  font-size: 3rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 10%;
  margin: 20px;
}

/* Press */

#press {
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px;
}

/* Pricing */

#pricing {
  padding: 100px;
}

.pricing-title {
  font-size: 3rem;
}

.pricing-col {
  padding: 3% 2%;
}

.card-header {
  font-size: 2rem;
}

.card-body {
  font-size: 1rem;
  font-weight: lighter;
}

.price {
  font-weight: bold;
}

.button-pricing {
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* Call for Action */

#cta.colored-section {
  background-color: #f38ba0;
}

/* Footer */
#footer {
  font-size: 1.5rem;
}

.copyright {
  font-size: 1rem;
}

.contact-icon {
  margin: 10px 10px;
}

.contact-icon:hover {
  color: #f38ba0;
  font-size: 2rem;
  transition: 0.2s ease-out;
}

/* Mobile Compatible */

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
